$font-family: Roboto, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;
$bg-color: #fff !default;
$bg-color-secondary: #F7F7F7 !default;
$text-color: #666 !default;
$primary-color: #D0021B !default;
$desktop-min: 1024px !default;
$tablet-max: $desktop-min - 1px !default;
$tablet-min: 768px !default;
$mobile-max: $tablet-min - 1px !default;